body
{
    background-color: #869F77;
}
.corootsel
{
    margin: 15% auto;
}
.cardspaceythingy
{

    text-align:center;
    margin-bottom:15%
}
.carost
{

    margin-left:auto;
    margin-right:auto;
    width:35vh
}
.colored
{
    background-color: #FDE9EA;
    color: #e090a5;
}
.coloredsub
{
    color: #e0a5ae;
}
.colorlink
{
    color: #f1134a
}
